.container{
  width: 100%;
  margin-left:auto;
  margin-right: auto;
  text-align: center;
  overflow: hidden;

}

.bookShelf{
  width: 90%;
  height: 400px;
  white-space:nowrap;
  overflow: scroll;
  margin: 0 auto;
  margin-top:30px;
  margin-bottom: 50px;
  position: relative;
  /*border: 3px solid blue;*/

}

.coverflow{
  width: 100%;
  height: 400px;
  position: relative;
  left:50%;
  top:50%;
  align-items:flex-end;
  /*transform: translate(-50%,-50%);*/

}

.book{
  display: inline-flex;
  flex-wrap: nowrap;
  align-items:center;
  align-content: center;
  box-sizing: content-box;
  /*border:3px solid green;*/

}


.cover {
  height: 320px;
  width: auto;
  margin:10px;
}





/*======example====================*/

.bigbox{
  width: 100%;
  height: 400px;
  display: inline-flex;
  border: 3px solid green;
}

.container2 { 
  width: 200px;
  height: 260px;
  position: relative;
  perspective: 800px;
  margin:10px;

}

#card0, #card1, #card2, #card3, #card4 {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

#card0 figure, #card1 figure, #card2 figure, #card3 figure, #card4 figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

#card0 .front, #card1 .front, #card2 .front, #card3 .front, #card4 .front {
  background: red;
}
#card0 .back, #card1 .back, #card2 .back, #card3 .back, #card4 .back {
  background: blue;
  transform: rotateY( -180deg );
}

#card0.flipped, #card1.flipped,#card2.flipped, #card3.flipped, #card4.flipped {
  transform: rotateY( -180deg );
}





/*.cover:hover {
  height: 380px;
  transition: height .5s;
}*/